:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #1e88e5;
  --pink: #00bd3f;
  --light-blue: #d4fbf0;
  --border: #d9d9d9;
  --card: #faedcd;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgSecondary);
  position: sticky;
  top: 0px;
  z-index: 99;
}
.left-nav {
  display: flex;
  align-items: center;
}
.logo-name {
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: light;
  font-size: 1.5rem;
  margin-left: 5px;
}
#logo-img {
  width: 70px;
  height: 50px;
  padding-left: 1.5rem;
  padding-top: 0.2rem;
}

#logo-typo {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  opacity: 0.9;
  font-weight: 900;
  font-family: sans-serif;
}
.nav-items {
  margin-right: 1.5rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial;
}
.navbar > .nav-items > a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 1;
}

.navbar > .nav-items > a:hover {
  opacity: 1;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.45s;
}

.navbar > .nav-items > a:hover::before {
  width: 100%;
}
.bar {
  display: none;
}
@media (max-width: 480px) {
  .left-nav {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .bar {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }
  .nav-toggle {
    padding-right: 1rem;
  }

  .nav-items {
    justify-content: flex-start;
  }

  #logo-img {
    padding-left: 1rem;
  }
  .navbar.open {
    position: static;
    align-items: left;
  }
  .navbar > .nav-items > a {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }
  .navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #1e88e5;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    transform: translateX(-100%);
    transition: all ease 0.95s;
  }
  .navbar > .nav-items > a::before {
    background: transparent;
  }
  .navbar > .nav-items.open {
    transform: translateX(0%);
    padding: -8rem;
    transition: all ease 0.95s;
  }
  .navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: right;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #fff;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
